In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

Abrir csv amazon

In [ ]:
amazon = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\amazon_prime_titles.csv')

FileNotFoundError: ignored

agregar columna platform

In [ ]:
amazon['platform'] = 'amazon'

In [ ]:
amazon

Crear columna ID con la primera letra del csv y la columna Show_id

In [ ]:
amazon['ID'] = 'a' + (amazon ['show_id'])

In [ ]:
amazon.head(2)

Reemplazar los valores nulos de la columna Ratins por 'G'

In [ ]:
amazon['rating'].fillna("G", inplace=True)

Ordenar la columna que contiene fecha, De haber fechas, deberán tener el formato AAAA-mm-dd

In [ ]:
amazon['date_added'] = pd.to_datetime(amazon['date_added'], format="%B %d, %Y")
amazon

Normalizacion, todo en minuscula nada en mayuscula, por columna

In [ ]:
amazon['cast']= amazon['cast'].str.lower()
amazon.head(2)

In [ ]:
amazon['rating']= amazon['rating'].str.lower()

In [ ]:
amazon['description']= amazon['description'].str.lower()

In [ ]:
amazon['listed_in']= amazon['listed_in'].str.lower()

In [ ]:
amazon['country']= amazon['country'].str.lower()

In [ ]:
amazon['type']= amazon['type'].str.lower()

In [ ]:
amazon['title']= amazon['title'].str.lower()

In [ ]:
amazon['director']= amazon['director'].str.lower()
amazon

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

Separar el numero del strig

In [ ]:
amazon[['duration_int','duration_type']]=amazon.duration.str.split(expand=True)
amazon

Proceso de trasnformacion de datos con disney

In [ ]:
disney = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\disney_plus_titles.csv')

In [ ]:
disney

Crear columna ID con la primera letra del csv y la columna Show_id

In [ ]:
disney['ID'] = 'd' + (disney ['show_id'])

Reemplazar los valores nulos de la columna Ratins por 'G'

In [ ]:
disney['rating'].fillna("G", inplace=True)
disney

Ordenar la columna que contiene fecha, De haber fechas, deberán tener el formato AAAA-mm-dd

In [ ]:
disney['date_added'] = pd.to_datetime(disney['date_added'], format="%B %d, %Y")
disney

Normalizacion, todo en minuscula nada en mayuscula, por columna

In [ ]:
disney.head(1)

In [ ]:
disney['type']= disney['type'].str.lower()
disney['rating']= disney['rating'].str.lower()
disney['title']= disney['title'].str.lower()
disney['director']= disney['director'].str.lower()
disney['cast']= disney['cast'].str.lower()
disney['country']= disney['country'].str.lower()
disney['listed_in']= disney['listed_in'].str.lower()
disney['description']= disney['description'].str.lower()
disney.head(5)

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

Separar el numero del strig

In [ ]:
disney[['duration_int','duration_type']]=disney.duration.str.split(expand=True)
disney.head(3)

nueva columna platform

In [ ]:
disney['platform'] = 'disney'

Proceso de trasnformacion de datos con hulu

In [ ]:
hulu = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\hulu_titles.csv')

nueva columna platform

In [ ]:
hulu['platform'] = 'hulu'

Crear columna ID con la primera letra del csv y la columna Show_id

In [ ]:
hulu['ID'] = 'h' + (hulu ['show_id'])
hulu.head(2)

Reemplazar los valores nulos de la columna Ratins por 'G'

In [ ]:
hulu['rating'].fillna("G", inplace=True)
hulu.head(5)

Ordenar la columna que contiene fecha, De haber fechas, deberán tener el formato AAAA-mm-dd

In [ ]:
hulu['date_added'] = pd.to_datetime(hulu['date_added'], format="%B %d, %Y")
hulu.head(5)

Normalizacion, todo en minuscula nada en mayuscula, por columna

In [ ]:
hulu['type']= hulu['type'].str.lower()

In [ ]:
hulu['title']= hulu['title'].str.lower()

In [ ]:
hulu['director']= hulu['director'].str.lower()

In [ ]:
#parece que en esta columna en este dataset son todos valores nulos, hay potras columnas como copuntri que funciono xq no son todos los valores nulos en esa columna
hulu['cast']

In [ ]:
hulu['cast'].shape

In [ ]:
hulu['cast'].isnull().sum()

In [ ]:
hulu['cast']= hulu['cast'].str.lower()

In [ ]:
hulu['country']= hulu['country'].str.lower()

In [ ]:
hulu['listed_in']= hulu['listed_in'].str.lower()

In [ ]:
hulu['rating']= hulu['rating'].str.lower()

In [ ]:
hulu['description']= hulu['description'].str.lower()
hulu.head(5)

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

Separar el numero del strig

In [ ]:
hulu[['duration_int','duration_type']]=hulu.duration.str.split(expand=True)
hulu

Proceso de trasnformacion de datos con netflix

In [ ]:
netflix = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\netflix_titles.csv')

nueva columna platform

In [ ]:
netflix['platform'] = 'netflix'

Crear columna ID con la primera letra del csv y la columna Show_id

In [ ]:
netflix['ID'] = 'n' + (netflix ['show_id'])
netflix.head(1)

Reemplazar los valores nulos de la columna Ratins por 'G'

In [ ]:
netflix['rating'].fillna("G", inplace=True)
netflix.head(1)

Ordenar la columna que contiene fecha, De haber fechas, deberán tener el formato AAAA-mm-dd

In [ ]:

netflix['date_added'] = pd.to_datetime(netflix['date_added'], format="%B %d, %Y")
netflix.head(2)

Normalizacion, todo en minuscula nada en mayuscula, por columna

In [ ]:
netflix['rating']= netflix['rating'].str.lower()

In [ ]:
netflix['type']= netflix['type'].str.lower()
netflix['title']= netflix['title'].str.lower()
netflix['director']= netflix['director'].str.lower()
netflix['cast']= netflix['cast'].str.lower()
netflix['country']= netflix['country'].str.lower()
netflix['listed_in']= netflix['listed_in'].str.lower()
netflix['description']= netflix['description'].str.lower()
netflix.head(5)

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

Separar el numero del strig

In [ ]:
netflix[['duration_int','duration_type']]=netflix.duration.str.split(expand=True)
netflix.head(5)

In [ ]:
amazon.shape

In [ ]:
disney.shape

In [ ]:
hulu.shape

In [ ]:
netflix.shape

Unir todos los dataframes

In [ ]:
dfplatform = pd.concat([amazon,disney,hulu,netflix])

In [ ]:
dfplatform.shape

ETL de los csv de ratings

cargar los csv en dataframes

In [ ]:
df1 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\1.csv')

In [ ]:
df2 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\2.csv')
df3 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\3.csv')
df4 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\4.csv')
df5 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\5.csv')
df6 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\6.csv')
df7 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\7.csv')

In [ ]:
df8 = pd.read_csv(r'MLOpsReviews-20230213T153411Z-001\MLOpsReviews\ratings\8.csv')

contatenar los csv de las carpeta ratings

In [ ]:
dfrating = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True)

In [ ]:
dfrating.head(5)

eliminar primer columna YA  NO SE NECESITA CON LA MODIFICACION DE LOS CSV
dfrating = dfrating.drop(['a'], axis=1)

arregrar la columna timestamp, pasarla a formato año-mes-dia

In [ ]:
dfrating['timestamp']=pd.to_datetime(dfrating['timestamp'], unit ='s').dt.strftime('%Y/%m/%d')

CREAR COLUMNA SCOREd,  INDICANDO EL PROMEDIO DE LA COLUMNA rating

In [ ]:
dfrating['scored'] = dfrating.groupby('movieId')['rating'].transform('mean')

In [ ]:
dfrating.head(5)

In [ ]:
dfplatform.info()

In [ ]:
dfrating.info()

Relacionar el df creado con los dataset de la carpeta ratings
se unen desde la columna ID y movieIdG

In [ ]:
dfcompleto = dfplatform.merge(dfrating, left_on='ID', right_on='movieId', how='outer')

In [ ]:
dfcompleto.shape

In [ ]:
dfcompleto.info()

Funciones para la API

me esta dando un error los valores nulos cuando quiero buscar el maximo, columna duration_int. Voy a reemplazar los nulos por 0.

In [ ]:
dfcompleto['duration_int'].fillna("0", inplace=True)

Cambiar el typo de dato a la columna para que me permita hacer la funcion max()

In [ ]:
dfcompleto['duration_int'] = dfcompleto['duration_int'].astype('int', copy=False, errors='raise')

extraer csv

In [ ]:
dfcompleto.to_csv('datoscompletos.csv', index=False)

cargar cvs completo subido a drive

In [ ]:
dfcompleto = pd.read_csv('/content/drive/MyDrive/Datasc/PI/datoscompletos.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
dfcompleto.shape

(11024289, 21)

copia del dfcompleto y luego eliminar los duplicados de la columna ID

In [ ]:
dfunciones = dfcompleto

NameError: ignored

In [ ]:
dfunciones=dfunciones.drop_duplicates(['ID'])

NameError: ignored

In [ ]:
dfunciones.shape

NameError: ignored

normalizar la columna duration_type

In [ ]:
dfcompleto['duration_type'].unique()

In [ ]:
dfcompleto['duration_type'] = dfcompleto['duration_type'].replace('Seasons','Season')

In [ ]:
dfcompleto.info()

quitar espacios en blanco

In [ ]:
dfcompleto['duration_int'].str.strip()

In [ ]:
max_duration = dfcompleto['duration_int'].max()
max_duration

buscar filtrado

In [ ]:
max = dfcompleto.loc[dfcompleto['duration_int']=='540']
max.dtypes

In [ ]:
dfcompleto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11024289 entries, 0 to 11024288
Data columns (total 21 columns):
 #   Column         Dtype
---  ------         -----
 0   show_id        object
 1   type           object
 2   title          object
 3   director       object
 4   cast           object
 5   country        object
 6   date_added     object
 7   release_year   int64
 8   rating_x       object
 9   duration       object
 10  listed_in      object
 11  description    object
 12  platform       object
 13  ID             object
 14  duration_int   int64
 15  duration_type  object
 16  userId         int64
 17  rating_y       float64
 18  timestamp      object
 19  movieId        object
 20  scored         float64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.7+ GB

Pelicula de mayor duracion

In [ ]:
def get_max_duration(year: int, platform:str, duration_type: str):
    df = pd.read_parquet("dfcompleto.parquet")
    df = df.dropna() # elimina los valores nulos en el dataframe
    # Filtro por parámetros utilizando la función query()
    if year:
        df = df.query(f"release_year == {year}")
    if platform:
        df = df.query(f"platform == '{platform}'")
    if duration_type:
        if duration_type == "min":
            max_duration = df.query("duration_type == 'min'").duration_int.max()
        elif duration_type == "season":
            max_duration = df.query("duration_type == 'season'").duration_int.max()
        else:
            return {"error": "Invalid duration type"}
    else:
        max_duration = df.duration_int.max()

    # Obtengo el título de la película con duración máxima
    title = df.query(f"duration_int == {max_duration}").title.values[0]
    
    return {"title": title}

In [ ]:
get_max_duration(2017, 'amazon', 'min')

show_id                                                      s3851
type                                                         movie
title                              himalayan singing bowls 9 hours
director                                               mark knight
cast                                        niv dayan, sarah lærke
country                                                        NaN
date_added                                                     NaN
release_year                                                  2017
rating_x                                                       all
duration                                                   550 min
listed_in                                         special interest
description      this ambient sleep and meditation video is a f...
platform                                                    amazon
ID                                                          as3851
duration_int                                                   550
duration_type                                                  min
userId                                                          20
rating_y                                                       3.5
timestamp                                               2014/11/07
movieId                                                     as3851
scored                                                    3.583503
Name: 1846551, dtype: object

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [ ]:
def get_score_count(platform: str, scored: float, year: int):
    # Esta función cuenta la cantidad de películas que cumplen con los criterios 
    # ingresados en "platform, scored, year" y muestra el total.
    # Recibe los parámetros platform, scored, year (que no son opcionales)

    # Cargo los datos del Dataset final con la variable df
    df = pd.read_parquet("dfcompleto.parquet")

    # Selecciona las películas que cumplen con el criterio de los parámetros
    selec = df.loc[(df['platform'] == platform) & (df['scored'] >= scored) & (df['release_year'] == year)]

    # Cuenta las películas y retorna el resultado
    contar = selec['title'].nunique()

    return contar

In [ ]:
get_score_count('amazon', 3, 2020)

962

Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [ ]:
def get_count_platform(platform: str):
    
    df = pd.read_parquet("dfcompleto.parquet")
    # filtro las películas a la plataforma especificada y cuento los títulos únicos
    cantidad_peliculas = df[df["platform"] == platform]['title'].nunique()
    return cantidad_peliculas

In [ ]:
 get_count_platform('amazon')

9651

Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [ ]:
def get_actor(platform: str, year: int):
    
    dfcompleto = pd.read_parquet("dfcompleto.parquet")
    
    # Filtrar el DataFrame por plataforma y año
    filtered_df = dfcompleto[(dfcompleto['platform'] == platform) & (dfcompleto['release_year'] == year)]

    # Reemplazar los valores nulos en la columna "cast" por "Desconocido"
    filtered_df['cast'].fillna(value='Desconocido', inplace=True)

    # Obtener la lista de actores
    actors_list = [actor for actors in filtered_df['cast'].str.split(', ') for actor in actors if actor != 'Desconocido']

    # Obtener el actor con más apariciones
    top_actor = max(set(actors_list), key=actors_list.count)

    return top_actor

In [ ]:
get_actor('amazon', 2020)

In [ ]:
duplicados = dfcompleto[dfcompleto.duplicated(['ID'])]
len(duplicados)

11001291

In [ ]:
dfcompleto.isna().sum()

In [ ]:
dfcompleto['cast'] = dfcompleto['cast'].fillna('Desconocido')